[submodule "external/raylib"]
	path = external/raylib
	url = git@github.com:igadmg/raylib.git
	branch = master_patched
[submodule "external/raygui"]
	path = external/raygui
	url = git@github.com:igadmg/raygui.git
	branch = master_patched
[submodule "external/rres"]
	path = external/rres
	url = git@github.com:igadmg/rres.git
	branch = master_patched
